{% extends 'viokat_apps/base.html' %}

{% block content %}
  <main role="main" class="container">
    <div class="jumbotron">
	  <br>
	  <br>
	  <div class="row">
		<div class="col-1">
	      <i class="fa fa-warning" style="font-size: 50px"></i>
	    </div>
	    <div class="col-11">
          <p align="justify">На данном сайте вы можете записаться на занятия по английскому и французскому языкам, выполнять задания или связаться с преподавателем.</p> 
        </div>
	  </div>
	</div>  
  </main>
{% endblock content %}
	
