{% extends 'main/base.html' %}
  
{% block content %}
<h4 id="qualification">Квалификация</h4>
<p align="justify" style="text-indent: 25px;">Каткова Виолетта Борисовна – высококлассный преподаватель и переводчик английского и французского языков с 30-летним опытом преподавания и постоянным повышением квалификации:</p>
<ul class="list">	
  <li>МГУ им. Ломоносова по специальности «Переводчик французского языка»,1980-1985;</li> 
  <li>State Com. INTOURIST Institute of Qualification Improvement Specialist in information & propaganda in French, 1988;</li> 
  <li>Training Center “A.F. Conti” of the Ministry of Education of RF Personnel Manager 2002 </li>
  <li>Moscow Training Center, Extension Course of Business English, State Certificate in Business English, 2007-2008;</li>
  <li>Language Link - Cambridge University Authorized Center TKT Certificate of Professional English Teacher, 2010-2011;</li>
</ul> 
<p style="text-indent: 25px;">Виолетта Борисовна использует индивидуальный подход к своим ученикам. С детьми работает в игровой форме, чтобы процесс изучения был увлекательным и интересным. Для взрослых подбирает программу под их профессиональную деятельность, помогая решать текущие задачи учеников.
</p> <br>
<h4 id="directions">Направления подготовки</h4>
<p align="justify" style="text-indent: 25px;">Виолетта Борисовна готовит к сдаче ОГЭ, ЕГЭ, YLE: Starters, Movers, Flyers; IELTS, TOEFL, PET, CAE, KET, FCE, участию в российских и международных олимпиадах и другим программам под запрос ученика.</p>

<p align="justify" style="text-indent: 25px;">У вас есть возможность обучаться по уникальной методике, соединяющей в себе классическую школу переводчиков и современные подходы Кембриджского университета. Если у вас начальный уровень, то с первого занятия вы уже начнете говорить на языке. Если продвинутый, то в кратчайшие сроки вы выйдите на профессиональный уровень владения языком как в устной, так и в письменной форме и сможете пройти любую систему тестирования и защитить нужную вам квалификацию.</p>

<p align="justify" style="text-indent: 25px;">Также вы можете самостоятельно работать с учебными материалами, разработанными Виолеттой Борисовной и представленными на сайте, которые помогут вам в процессе обучении.</p> <br>
<h4 id="contacts">Контакты</h4> 
<p align="center"><br> mail: repetitor2000@mail.ru <br> тел: 8 (966) 666 - 66 - 66 <br></p>
{% endblock content %}